<nav class="top-navbar-white">
  <div class="nav-logo">
    <a href="/" class="home">
      <%= render "shared/nav_logo_white" %>
    </a>
  </div>
  <ul>
    <li><%= link_to "Why How What", why_path %></li>
    <li><%= link_to "Guidance", guidance_path %></li>
    <li><%= link_to "Exercises", exercises_path %></li>
    <li><%= link_to "Blog", blog_path%></li>
  </ul>
</nav>