<nav class="top-navbar">
  <div class="nav-logo">
    <a href="/" class="home">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1024 768" enable-background="new 0 0 1024 768" xml:space="preserve">
        <g>
          <g>
            <path fill="#FFFFFF" d="M401.121,479.218c-12.967,0-24.008-1.974-33.121-5.92c-9.117-3.946-16.49-9.395-22.128-16.349
              c-5.638-6.95-9.725-15.081-12.262-24.383c-2.537-9.303-3.805-19.31-3.805-30.021V279.645h19.168v120.364
              c0,10.711,1.268,19.97,3.805,27.766c2.537,7.8,6.061,14.234,10.571,19.309c4.51,5.074,9.958,8.835,16.349,11.275
              c6.386,2.444,13.53,3.664,21.423,3.664s15.032-1.22,21.423-3.664c6.387-2.44,11.839-6.201,16.349-11.275
              c4.51-5.074,8.034-11.509,10.571-19.309c2.537-7.796,3.805-17.055,3.805-27.766V279.645h19.168v122.901
              c0,10.711-1.268,20.718-3.805,30.021c-2.537,9.302-6.625,17.433-12.262,24.383c-5.638,6.954-13.015,12.402-22.128,16.349
              C425.125,477.244,414.087,479.218,401.121,479.218z"/>
            <path fill="#FFFFFF" d="M668.052,474.989c-3.726-9.593-7.152-18.82-10.284-27.678c-3.131-8.856-6.122-17.485-8.976-25.88h-95.431
              c-3.259,8.438-6.452,17.089-9.57,25.951c-3.119,8.861-6.422,18.066-9.906,27.606h-20.014
              c7.417-20.335,14.425-39.283,21.022-56.848c6.598-17.561,13.072-34.179,19.415-49.85c6.342-15.671,12.645-30.729,18.899-45.18
              c6.254-14.446,12.825-28.937,19.723-43.467h16.899c6.889,14.464,13.43,28.937,19.613,43.41
              c6.184,14.477,12.46,29.549,18.824,45.211s12.816,32.289,19.353,49.876s13.733,36.534,21.582,56.848H668.052z M600.832,301.631
              c-7.073,16.226-13.957,32.694-20.656,49.396c-6.699,16.706-13.632,34.725-20.803,54.056h83.38
              c-7.214-19.357-14.239-37.403-21.07-54.131C614.847,334.224,607.896,317.787,600.832,301.631z"/>
            <path fill="#FFFFFF" d="M864.249,474.989c-3.625-6.536-8.175-14.248-13.649-23.128c-5.475-8.879-11.558-18.309-18.248-28.284
              c-6.694-9.972-13.68-20.287-20.956-30.941c-7.275-10.65-14.525-21.009-21.74-31.078c-7.214-10.068-14.274-19.502-21.181-28.303
              c-6.906-8.8-13.032-16.406-18.388-22.81v164.544H731.2V279.645h15.222c9.593,10.703,19.873,23.07,30.831,37.094
              c10.958,14.028,21.7,28.32,32.231,42.876c10.531,14.561,20.361,28.788,29.487,42.684c9.126,13.9,16.609,26.008,22.458,36.328
              V279.645h18.886v195.345H864.249z"/>
          </g>
          <path fill="#FFFFFF" d="M166.382,480.153c-57.532,0-104.338-46.805-104.338-104.335c0-57.532,46.806-104.338,104.338-104.338
            S270.72,318.286,270.72,375.818c0,22.891-7.277,44.624-21.045,62.848c-2.887,3.822-8.327,4.579-12.148,1.691
            c-3.822-2.887-4.58-8.326-1.692-12.148c11.475-15.188,17.54-33.305,17.54-52.391c0-47.967-39.024-86.991-86.991-86.991
            s-86.991,39.024-86.991,86.991c0,47.966,39.024,86.99,86.991,86.99c12.096,0,23.795-2.43,34.772-7.222
            c4.39-1.918,9.502,0.089,11.419,4.479c1.916,4.39-0.089,9.502-4.479,11.419C194.915,477.237,180.881,480.153,166.382,480.153z"/>
          <path fill="#FFFFFF" d="M258.834,476.867c0,6.695-5.431,12.129-12.129,12.129s-12.129-5.434-12.129-12.129
            c0-6.7,5.431-12.129,12.129-12.129S258.834,470.167,258.834,476.867z"/>
          <path fill="#FFFFFF" d="M238.968,455.184c0,5.303-4.303,9.605-9.609,9.605c-5.306,0-9.609-4.303-9.609-9.605
            c0-5.311,4.303-9.613,9.609-9.613C234.666,445.57,238.968,449.873,238.968,455.184z"/>
          <circle fill="#FFFFFF" cx="216.349" cy="437.837" r="7.206"/>
          <g>
            <path fill="#FFFFFF" d="M925.6,297.175c0,2.665-0.435,5.035-1.302,7.11c-0.867,2.076-2.021,3.834-3.462,5.274
              s-3.113,2.541-5.019,3.299s-3.896,1.139-5.972,1.139s-4.065-0.38-5.971-1.139s-3.578-1.859-5.019-3.299s-2.596-3.198-3.462-5.274
              c-0.868-2.075-1.302-4.445-1.302-7.11c0-2.633,0.434-4.996,1.302-7.086c0.866-2.091,2.021-3.849,3.462-5.274
              c1.44-1.424,3.113-2.517,5.019-3.276c1.905-0.759,3.896-1.139,5.971-1.139s4.066,0.38,5.972,1.139
              c1.905,0.759,3.578,1.852,5.019,3.276c1.44,1.425,2.595,3.183,3.462,5.274C925.165,292.179,925.6,294.542,925.6,297.175z
               M922.857,297.175c0-2.138-0.325-4.089-0.976-5.855c-0.65-1.766-1.55-3.276-2.695-4.531c-1.146-1.255-2.518-2.223-4.112-2.904
              c-1.596-0.681-3.339-1.022-5.229-1.022s-3.632,0.341-5.228,1.022c-1.596,0.682-2.967,1.649-4.112,2.904
              c-1.146,1.254-2.045,2.765-2.695,4.531c-0.65,1.766-0.976,3.717-0.976,5.855s0.325,4.089,0.976,5.855
              c0.65,1.766,1.549,3.276,2.695,4.531c1.146,1.254,2.517,2.23,4.112,2.927c1.596,0.697,3.338,1.046,5.228,1.046
              s3.633-0.349,5.229-1.046c1.595-0.697,2.966-1.673,4.112-2.927c1.146-1.255,2.045-2.765,2.695-4.531
              C922.532,301.264,922.857,299.313,922.857,297.175z M914.865,306.376c-0.807-1.456-1.643-2.842-2.51-4.159
              c-0.867-1.316-1.626-2.362-2.277-3.137c-0.217,0.031-0.418,0.046-0.604,0.046c-0.187,0-0.356,0-0.512,0h-2.927v7.25h-2.557
              v-17.984c0.713-0.155,1.511-0.279,2.394-0.372c0.883-0.093,1.711-0.14,2.486-0.14c2.633,0,4.639,0.481,6.018,1.441
              c1.378,0.96,2.068,2.416,2.068,4.368c0,1.116-0.311,2.115-0.93,2.998c-0.62,0.883-1.533,1.542-2.742,1.975
              c0.248,0.279,0.581,0.705,0.999,1.278c0.419,0.574,0.86,1.216,1.325,1.928c0.464,0.713,0.929,1.472,1.394,2.277
              c0.465,0.806,0.867,1.549,1.208,2.23H914.865z M906.036,297.036h2.323c0.773,0,1.486-0.046,2.138-0.14
              c0.65-0.093,1.215-0.271,1.696-0.534c0.479-0.263,0.852-0.611,1.115-1.046c0.263-0.433,0.395-0.991,0.395-1.673
              c0-0.65-0.147-1.2-0.441-1.649c-0.295-0.449-0.682-0.813-1.162-1.092s-1.03-0.48-1.649-0.604c-0.62-0.124-1.271-0.186-1.951-0.186
              c-0.465,0-0.906,0.008-1.325,0.023c-0.418,0.016-0.798,0.039-1.138,0.07V297.036z"/>
          </g>
        </g>
      </svg>
    </a>
  </div>
  <ul>
    <li><%= link_to "Why" %></li>
    <li><%= link_to "How" %></li>
    <li><%= link_to "What" %></li>
    <li><%= link_to "Blog" %></li>
    <li><%= link_to "Register" %></li>
  </ul>
</nav>
<header>
  <div class="hero-message">
    <h1>Learn To <strong>Evolve</strong></h1>
  </div>
</header>

<div id="main">
  <section id="middle-row">
    <div id="home-video">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/FDSsaj_Fl9c?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>

  <section id="bottom-row">
    <div id="why">
      <h2>We Believe:</h2>
      <ul>
        <li>
          In evolving personally and professionally.  Life’s a journey so progress is how we achieve success in that journey.
        </li>
        <li>
          Business is a vehicle for positive impact on society, workers, the community, and the environment in addition to profit as its legally defined goals.
        </li>
        <li>
          Leadership is a responsibility, not a rank.  Leaders have a responsibility of putting the well being of others before the well being of the themselves.
        </li>
      </ul>
    </div>
    <div id="how">
      <h2>The way we execute:</h2>
      <ul>
        <li>
          We want more handshake conversations, handshake debates, handshake friends, handshake leadership.  Technology cannot replace human connection. (You cannot form trust through the internet).
        </li>
        <li>
          Deep insight into job culture, market, and position requirements.  We hire professionals and educate ourselves when we are going to buy a house or invest our retirement savings.  We should have career advisors.
        </li>
        <li>
          Acts of kindness and generosity.  More personal communication.
        </li>
      </ul>
    </div>
    <div id="what">
      <h2>What We Do:</h2>
      <ul>
        <li>
          Ambassadors of Quan:  People who spend time and effort helping you do the best you can at finding a new position.  Jerry McGuire Ambassador of Quan: Guide, walk, and help you through the whole process.
        </li>
        <li>
          Company will be designed and run as a Mutual Organization: https://en.wikipedia.org/wiki/Mutual_organization    A mutual organization is owned by, and run for the benefit of, its members (it has no external shareholders).  Members usually do not contribute to the capital of the company by direct investment, but derive their right to profits and votes through their customer relationship.  Quan (cooperative) will own Shoshin (software development/product company).  Shoshin will provide services to Quan at cost.  Developers, engineers, or designers who’ve worked hard to acquire the skills needed to do the job should get paid for the acquisition of those same skills.
        </li>
      </ul>
    </div>
  </section>
</div>
