<div class="blog-page clearfix">
  <%= render "shared/top_navbar_black" %>
</div>

<div id="blogs">

  <section id="posts-grid">
    <% @posts.each do |post| %>
      <div class="post">
        <h1 class="title"><%= truncate(post["title"], length: 25) %></h1>
        <p><%= truncate(post["body"], length: 450, escape: false) %></p>
        <div class="read-more-container"><strong><%= link_to 'Read more', '#', class: 'read-more', data: {post_id: post["id"]} %></strong></div>
      </div>
    <% end %>
  </section>
</div>

<%= content_tag :div,
  id: "blog",
  data: @posts.to_json do %>

<% end %>


<%= javascript_pack_tag 'blog' %>
