<div class="blog clearfix">
  <%= render "shared/top_navbar_black" %>
</div>

<div id="blogs">
  <aside class="register-email">
    <div class="blog-registration clearfix">
      <p><strong>FREE EMAIL UPDATES</strong></p>
      <p class="latest-content">Get the latest content first.</p>

      <%= form_for @person do |f| %>
        <label>
          First Name
          <%= f.text_field :first_name, class: "sign-up" %>
        </label>
        <label >
          Email
          <%= f.text_field :email, class: "sign-up" %>
        </label>

        <%= f.submit "Submit", class: "submit-email" %>
      <% end %>
    </div>
  </aside>

  <section>
    <% @posts.each do |post| %>
      <div class="post">
        <h1 class="title"><%= post["title"] %></h1>
        <%= post["body"].html_safe %>
      </div>
    <% end %>
  </section>
</div>